
body {
  background-color: #33373f;
}
.App {
  text-align: center;
  max-width: 80%;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(5px + 2vmin);
  color: rgb(216, 206, 206);
  margin-bottom: -28px;
}

.maintable {
  width: 100%;
  background-color: #f7f1f4;
  margin-bottom: 30px;
  margin-top: 0;
}

.container {
  height: 100%;
  overflow: auto;
  margin-right: 17px;
}

.menuButtons {
  float: left;
  clear: left;
}

#newTrainingInputs {
  display: inline-block;
  margin: auto;
}
